packaging
setuptools
streamlit
boto3
botocore
pymupdf
pandas
anthropic
openpyxl
inflect
PyPDF2
pytesseract
python-pptx
python-docx
Pillow
pydantic
python-calamine
s3fs
PyYAML
pdf2image
psycopg2-binary
six